/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/.env
/.env.backup
/.phpunit.result.cache
/database/database.sqlite
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/*.key
/storage/logs/*
/storage/framework/*
/bootstrap/cache/*
